In [10]:
import pandas as pd
df=pd.read_csv("reshape.csv")
df

          day     city  temperature
0      monday  chicago           32
1     tuesday  chicago           42
2   wednesday  chicago           52
3    thursday  chicago           60
4      friday  chicago           42
5    saturday  chicago           45
6      sunday  chicago           65
7      monday  chennai           42
8     tuesday  chennai           51
9   wednesday  chennai           32
10   thursday  chennai           42
11     friday  chennai           52
12   saturday  chennai           61
13     sunday  chennai           23
14     monday   berlin           52
15    tuesday   berlin           62
16  wednesday   berlin           31
17   thursday   berlin           45
18     friday   berlin           52
19   saturday   berlin           61
20     sunday   berlin           34

In [11]:
df1=pd.melt(df,id_vars=["day"],var_name="city",value_name="temperature")
df1

          day         city temperature
0      monday         city     chicago
1     tuesday         city     chicago
2   wednesday         city     chicago
3    thursday         city     chicago
4      friday         city     chicago
5    saturday         city     chicago
6      sunday         city     chicago
7      monday         city     chennai
8     tuesday         city     chennai
9   wednesday         city     chennai
10   thursday         city     chennai
11     friday         city     chennai
12   saturday         city     chennai
13     sunday         city     chennai
14     monday         city      berlin
15    tuesday         city      berlin
16  wednesday         city      berlin
17   thursday         city      berlin
18     friday         city      berlin
19   saturday         city      berlin
20     sunday         city      berlin
21     monday  temperature          32
22    tuesday  temperature          42
23  wednesday  temperature          52
24   thursday  temperature          60
25     friday  temperature          42
26   saturday  temperature          45
27     sunday  temperature          65
28     monday  temperature          42
29    tuesday  temperature          51
30  wednesday  temperature          32
31   thursday  temperature          42
32     friday  temperature          52
33   saturday  temperature          61
34     sunday  temperature          23
35     monday  temperature          52
36    tuesday  temperature          62
37  wednesday  temperature          31
38   thursday  temperature          45
39     friday  temperature          52
40   saturday  temperature          61
41     sunday  temperature          34