In [2]:
import pandas as pd
df=pd.read_csv("weather_data.csv")   #using csv file
df

   day      temperature windspeed event
0  1/1/2017     32        6       rainy
1  1/2/2017     35        7       sunny
2   1/3/2017     28        2       snow
3   1/4/2017     24        7       snow
4  1/5/2017     32        4       rainy
5  1/6/2017     32        2       windy

In [4]:
df=pd.read_excel("C:\\Users\\dell\\Downloads\\Desktop\\weather_data.xlsx","weather")
df                      #using excel file

         day  temperature  windspeed  event
0 2017-01-01           32          6  rainy
1 2017-01-02           35          7  sunny
2 2017-01-03           28          2   snow
3 2017-01-04           24          7   snow
4 2017-01-05           32          4  rainy
5 2017-01-06           32          2  windy

In [5]:
weather_data={
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,22,28,29,30,32],
    'windspeed': [12,22,14,15,16,17],
    'event': ['snow','rainy','snow','windy','snow','rainy']
}
df=pd.DataFrame(weather_data)
df                                          #using dictionary

        day  temperature  windspeed  event
0  1/1/2017           32         12   snow
1  1/2/2017           22         22  rainy
2  1/3/2017           28         14   snow
3  1/4/2017           29         15  windy
4  1/5/2017           30         16   snow
5  1/6/2017           32         17  rainy

In [10]:
weather_data=[
    ('1/1/2017',32,6,'rain'),
    ('1/2/2017',31,7,'snow'),
    ('1/3/2017',28,9,'hot')
]
df=pd.DataFrame(weather_data,columns=["day","temperature","windspeed","event"])
df                              #using tuples list

        day  temperature  windspeed event
0  1/1/2017           32          6  rain
1  1/2/2017           31          7  snow
2  1/3/2017           28          9   hot

In [14]:
weather_data=[
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'rain'},
    {'day':'1/2/2017','temperature':31,'windspeed':7,'event':'snow'},
    {'day':'1/3/2017','temperature':28,'windspeed':9,'event':'hot'}
]
df=pd.DataFrame(weather_data)
df                          #using list of dictionary

        day event  temperature  windspeed
0  1/1/2017  rain           32          6
1  1/2/2017  snow           31          7
2  1/3/2017   hot           28          9